.container {
    background-color: rgb(169, 24, 24);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.button {
    width: 100px;
    height: 35px;
    background-color: #ffffff00;
    border: 2px solid white;
    color: white;
    border-radius: 14px;
    margin-left: 8px;
    margin-right: 8px;
}