.container {
    background-image: url('../images/paper.webp');
    background-size: contain;
    background-repeat: repeat-y;
    display: inline-block;
    max-width: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 30px;
    color: rgb(13, 0, 172);
    font-family: 'Caveat';
    font-size: x-large;
}

.summary {
    max-width: 600px;
    margin: auto;
}

.steps {
    text-align: left;
    padding-left: 20px;
}

.polaroid {
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.4);
    transform:rotate(-10deg);
    max-width: 400px;
    margin-top: 30px;
}

@media (max-width: 520px) {
    .container{
        max-width: 250px;
        padding-left: 70px;
    }

    .polaroid {
        max-width: 200px;
    }
}