.filtersContainer {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 550px;
    font-size: larger;
}

.container {
    background-color: rgba(245, 245, 245, 0.9);
    height: 250px;
    width: 550px;
    margin: auto;
    padding: 5px;
    padding-top: 30px;
}